body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  #data{
    display:flex;
    gap:2rem;
    margin-bottom: 5px;
  }
#container{
    display: grid;   
    height:400px;
    width:400px;
}
.grid-item{
    border:solid black 0.25px;
}
